<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='lletra.css')}}"/>
<BR LEFT>
<IMG SRC="static/minilogo.png" style="position: absolute; top: 0; left: 0;" />
<title>Menú de preguntes</title>
<head>
<center>
<head>
  <resp> Tria la pregunta </resp>

</head>


<body>



<center>




<p>

  <form action="/esp1">
  <acronym title="Hi ha més notes entre X1 i X2 que entre X3 i X4">
  <input type="submit" value="Pregunta 1">
  </acronym>

</form>
  <form action="/esp2">
  <acronym title="L'assignatura obligatòria més aprovada/suspesa en percentatge del Q1/Q2/carrera... és Mecànica/Càlcul/Química...">
  <input type="submit" value="Pregunta 2">
  </acronym>
  </form>
  <form action="/esp3">
  <acronym title="La mitjana del Q1/Q2/carrera és superior a la mitjana del Q1/Q2/carrera">
  <input type="submit" value="Pregunta 3">
  </acronym>
  </form>
  <form action="/esp4">
    <acronym title="El màxim de cops que s’ha suspès Mecànica/Càlcul/Química... és X">
  <input type="submit" value="Pregunta 4">
  </acronym>
  </form>
  <form action="/esp5">
    <acronym title="La proporció d’aprovats del Q1/Q2/carrera... al 2010/2011/2012... va ésser del X1-X2%">
  <input type="submit" value="Pregunta 5">
  </acronym>
  </form>
  <form action="/esp6">
    <acronym title="Hi ha més gent que ha suspès Mecànica/Càlcul/Química... que Mecànica/Càlcul/Química... en cursar-la per primer cop">
  <input type="submit" value="Pregunta 6">
  </acronym>
</form>
  <form action="/esp7">
    <acronym title="Els estudiants amb nota de selectivitat per sobre de X1 suspenen una mitjana de més de X2 matèries a la fase inicial">
  <input type="submit" value="Pregunta 7">
  </acronym>
  </form>
  <form action="/esp8">
    <acronym title="Si suspens Mecànica/Càlcul/Química... tens més probabilitat de suspendre Mecànica/Càlcul/Química... que Mecànica/Càlcul/Química...">
  <input type="submit" value="Pregunta 8">
  </acronym>
</form>
  <form action="/esp9">
    <acronym title="Més d'un X% no passa net el Q1/Q2/carrera...">
  <input type="submit" value="Pregunta 9">
  </acronym>
  </form>
  <form action="/esp10">
    <acronym title="El percentatge d’aprovats del grup X1 és major que el del grup X2">
  <input type="submit" value="Pregunta 10">
  </acronym>
</form>
  <form action="/esp11">
    <acronym title="Hi ha més gent de Alella/La Garriga/Banyoles... que de Alella/La Garriga/Banyoles...">
  <input type="submit" value="Pregunta 11">
  </acronym>
  </form>
  <form action="/esp12">
    <acronym title="Els alumnes de la província de Barcelona/Lleida... aproven més que els de la província de Barcelona/Lleida...">
  <input type="submit" value="Pregunta 12">
  </acronym>
  </form>
</p>
</center>

<p>
<form action="/index">
<button type="submit" style="float:left; margin-left:20px;"><img src="static/sortir.png" border=0></button>
</form>
</p>

</body>
</html>
