<!DOCTYPE html>
<html>
<title>Pregunta 1</title>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='lletra.css')}}"/>
<head>


<BR LEFT>
<IMG SRC="static/minilogo.png" style="position: absolute; top: 0; left: 0;" />
  <center>
  <br>
  <br>
  <br>
<h1>PREGUNTA 1</h1>
</center>
</head>

<body>
<center>



</center>
<center>
  <p>
    <form action="/pe1" method="post">
      Hi ha més notes entre <input style='width:30px;'type="text" name="in11" value="0"> i
        <input style='width:30px;' type="text" name="in12" value="0">
      que entre <input style='width:30px;'type="text" name="in21" value="0">
          i <input style='width:30px;' type="text" name="in22" value="0">
          <br>
          <br>

        <button type="submit" value="Enviar"><img src="static/enviar.png" border=0></button>
    </form>
  </p>
</center>


<p>
  <form action="/esc">
    <button type="submit" style="float:left; margin-left:20px ;margin-top:270px;"><img src="static/sortir.png" border=0></button>
</p>

</body>
</html>
