<!DOCTYPE html>
<html
<title>Pregunta 11</title>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='lletra.css')}}"/>
<head>


<BR LEFT>
<IMG SRC="static/minilogo.png" style="position: absolute; top: 0; left: 0;" />
  <center>
  <br>
  <br>
<h1>PREGUNTA 11</h1>
</center>
</head>

<body>
<center>



</center>

<center>
  <p>
    <form action="/pe11" method="post">
      Hi ha més gent de
      <select name="mun1">
        <option value="Agramunt">Agramunt</option>
        <option value="Aiguafreda">Aiguafreda</option>
        <option value="Aitona">Aitona</option>
        <option value="Albinyana">Albinyana</option>
        <option value="Alcanar">Alcanar</option>
        <option value="Alella">Alella</option>
        <option value="Alguaire">Alguaire</option>
        <option value="Alió">Alió</option>
        <option value="Almacelles">Almacelles</option>
        <option value="Alpicat">Alpicat</option>
        <option value="Altafulla">Altafulla</option>
        <option value="Ametlla del Vallès, l'">Ametlla del Vallès, l'</option>
        <option value="Amposta">Amposta</option>
        <option value="Anglès">Anglès</option>
        <option value="Arbeca">Arbeca</option>
        <option value="Arbúcies">Arbúcies</option>
        <option value="Arenys de Mar">Arenys de Mar</option>
        <option value="Arenys de Munt">Arenys de Munt</option>
        <option value="Argentona">Argentona</option>
        <option value="Argençola">Argençola</option>
        <option value="Artesa de Segre">Artesa de Segre</option>
        <option value="Ascó">Ascó</option>
        <option value="Avinyonet de Puigventós">Avinyonet de Puigventós</option>
        <option value="Avinyonet del Penedès">Avinyonet del Penedès</option>
        <option value="Badalona">Badalona</option>
        <option value="Balaguer">Balaguer</option>
        <option value="Banyoles">Banyoles</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Begues">Begues</option>
        <option value="Benissanet">Benissanet</option>
        <option value="Berga">Berga</option>
        <option value="Bigues i Riells">Bigues i Riells</option>
        <option value="Bisbal d'Empordà, la">Bisbal d'Empordà, la</option>
        <option value="Blanes">Blanes</option>
        <option value="Borges Blanques, les">Borges Blanques, les</option>
        <option value="Borges del Camp, les">Borges del Camp, les</option>
        <option value="Breda">Breda</option>
        <option value="Brull, el">Brull, el</option>
        <option value="Cabrera de Mar">Cabrera de Mar</option>
        <option value="Cabrils">Cabrils</option>
        <option value="Calafell">Calafell</option>
        <option value="Caldes de Montbui">Caldes de Montbui</option>
        <option value="Calella">Calella</option>
        <option value="Calldetenes">Calldetenes</option>
        <option value="Cambrils">Cambrils</option>
        <option value="Campdevànol">Campdevànol</option>
        <option value="Campelles">Campelles</option>
        <option value="Campins">Campins</option>
        <option value="Camós">Camós</option>
        <option value="Canet de Mar">Canet de Mar</option>
        <option value="Canovelles">Canovelles</option>
        <option value="Canyelles">Canyelles</option>
        <option value="Cardedeu">Cardedeu</option>
        <option value="Cardona">Cardona</option>
        <option value="Cassà de la Selva">Cassà de la Selva</option>
        <option value="Castellar del Vallès">Castellar del Vallès</option>
        <option value="Castellbisbal">Castellbisbal</option>
        <option value="Castellcir">Castellcir</option>
        <option value="Castelldefels">Castelldefels</option>
        <option value="Castellet i la Gornal">Castellet i la Gornal</option>
        <option value="Castellnou de Bages">Castellnou de Bages</option>
        <option value="Castellserà">Castellserà</option>
        <option value="Castellterçol">Castellterçol</option>
        <option value="Castellvell del Camp">Castellvell del Camp</option>
        <option value="Castellví de Rosanes">Castellví de Rosanes</option>
        <option value="Castellví de la Marca">Castellví de la Marca</option>
        <option value="Centelles">Centelles</option>
        <option value="Cerdanyola del Vallès">Cerdanyola del Vallès</option>
        <option value="Cervelló">Cervelló</option>
        <option value="Cervera">Cervera</option>
        <option value="Collbató">Collbató</option>
        <option value="Conca de Dalt">Conca de Dalt</option>
        <option value="Corbera de Llobregat">Corbera de Llobregat</option>
        <option value="Cornellà de Llobregat">Cornellà de Llobregat</option>
        <option value="Cruïlles, Monells i Sant Sadurní de l'Heura">Cruïlles, Monells i Sant Sadurní de l'Heura</option>
        <option value="Cunit">Cunit</option>
        <option value="Cànoves i Samalús">Cànoves i Samalús</option>
        <option value="Deltebre">Deltebre</option>
        <option value="Escala, l'">Escala, l'</option>
        <option value="Esplugues de Llobregat">Esplugues de Llobregat</option>
        <option value="Estaràs">Estaràs</option>
        <option value="Far d'Empordà, el">Far d'Empordà, el</option>
        <option value="Fatarella, la">Fatarella, la</option>
        <option value="Figueres">Figueres</option>
        <option value="Flix">Flix</option>
        <option value="Fogars de Montclús">Fogars de Montclús</option>
        <option value="Folgueroles">Folgueroles</option>
        <option value="Fontanilles">Fontanilles</option>
        <option value="Forallac">Forallac</option>
        <option value="Fornells de la Selva">Fornells de la Selva</option>
        <option value="Fortià">Fortià</option>
        <option value="Franqueses del Vallès, les">Franqueses del Vallès, les</option>
        <option value="Garriga, la">Garriga, la</option>
        <option value="Gavà">Gavà</option>
        <option value="Gelida">Gelida</option>
        <option value="Girona">Girona</option>
        <option value="Gironella">Gironella</option>
        <option value="Golmés">Golmés</option>
        <option value="Granera">Granera</option>
        <option value="Granollers">Granollers</option>
        <option value="Gualta">Gualta</option>
        <option value="Guissona">Guissona</option>
        <option value="Guixers">Guixers</option>
        <option value="Gurb">Gurb</option>
        <option value="Gósol">Gósol</option>
        <option value="Horta de Sant Joan">Horta de Sant Joan</option>
        <option value="Hospitalet de Llobregat, l'">Hospitalet de Llobregat, l'</option>
        <option value="Igualada">Igualada</option>
        <option value="Linyola">Linyola</option>
        <option value="Lleida">Lleida</option>
        <option value="Llinars del Vallès">Llinars del Vallès</option>
        <option value="Lliçà d'Amunt">Lliçà d'Amunt</option>
        <option value="Lliçà de Vall">Lliçà de Vall</option>
        <option value="Lloret de Mar">Lloret de Mar</option>
        <option value="Lluçà">Lluçà</option>
        <option value="Llívia">Llívia</option>
        <option value="Malgrat de Mar">Malgrat de Mar</option>
        <option value="Malla">Malla</option>
        <option value="Manlleu">Manlleu</option>
        <option value="Manresa">Manresa</option>
        <option value="Martorelles">Martorelles</option>
        <option value="Masdenverge">Masdenverge</option>
        <option value="Masnou, el">Masnou, el</option>
        <option value="Matadepera">Matadepera</option>
        <option value="Mataró">Mataró</option>
        <option value="Maçanet de la Selva">Maçanet de la Selva</option>
        <option value="Miravet">Miravet</option>
        <option value="Moià">Moià</option>
        <option value="Molins de Rei">Molins de Rei</option>
        <option value="Mollet del Vallès">Mollet del Vallès</option>
        <option value="Mont-roig del Camp">Mont-roig del Camp</option>
        <option value="Montblanc">Montblanc</option>
        <option value="Montbrió del Camp">Montbrió del Camp</option>
        <option value="Montcada i Reixac">Montcada i Reixac</option>
        <option value="Montesquiu">Montesquiu</option>
        <option value="Montgat">Montgat</option>
        <option value="Montmaneu">Montmaneu</option>
        <option value="Montseny">Montseny</option>
        <option value="Móra d'Ebre">Móra d'Ebre</option>
        <option value="Navata">Navata</option>
        <option value="Navès">Navès</option>
        <option value="Odèn">Odèn</option>
        <option value="Olesa de Montserrat">Olesa de Montserrat</option>
        <option value="Oliana">Oliana</option>
        <option value="Olius">Olius</option>
        <option value="Olivella">Olivella</option>
        <option value="Olost">Olost</option>
        <option value="Olot">Olot</option>
        <option value="Oluges, les">Oluges, les</option>
        <option value="Ordis">Ordis</option>
        <option value="Pacs del Penedès">Pacs del Penedès</option>
        <option value="Palafrugell">Palafrugell</option>
        <option value="Palamós">Palamós</option>
        <option value="Palau-solità i Plegamans">Palau-solità i Plegamans</option>
        <option value="Pallejà">Pallejà</option>
        <option value="Palma de Cervelló, la">Palma de Cervelló, la</option>
        <option value="Papiol, el">Papiol, el</option>
        <option value="Pardines">Pardines</option>
        <option value="Parets del Vallès">Parets del Vallès</option>
        <option value="Pau">Pau</option>
        <option value="Penelles">Penelles</option>
        <option value="Perafita">Perafita</option>
        <option value="Peramola">Peramola</option>
        <option value="Piera">Piera</option>
        <option value="Pineda de Mar">Pineda de Mar</option>
        <option value="Pinell de Solsonès">Pinell de Solsonès</option>
        <option value="Pobla de Segur, la">Pobla de Segur, la</option>
        <option value="Pont de Suert, el">Pont de Suert, el</option>
        <option value="Ponts">Ponts</option>
        <option value="Porqueres">Porqueres</option>
        <option value="Prat de Llobregat, el">Prat de Llobregat, el</option>
        <option value="Premià de Dalt">Premià de Dalt</option>
        <option value="Premià de Mar">Premià de Mar</option>
        <option value="Puigcerdà">Puigcerdà</option>
        <option value="Pujalt">Pujalt</option>
        <option value="Quart">Quart</option>
        <option value="Queralbs">Queralbs</option>
        <option value="Reus">Reus</option>
        <option value="Ribes de Freser">Ribes de Freser</option>
        <option value="Ripoll">Ripoll</option>
        <option value="Ripollet">Ripollet</option>
        <option value="Riudoms">Riudoms</option>
        <option value="Riumors">Riumors</option>
        <option value="Roca del Vallès, la">Roca del Vallès, la</option>
        <option value="Roses">Roses</option>
        <option value="Rosselló">Rosselló</option>
        <option value="Rubí">Rubí</option>
        <option value="Sabadell">Sabadell</option>
        <option value="Sallent">Sallent</option>
        <option value="Salou">Salou</option>
        <option value="Sant Adrià de Besòs">Sant Adrià de Besòs</option>
        <option value="Sant Agustí de Lluçanès">Sant Agustí de Lluçanès</option>
        <option value="Sant Andreu de Llavaneres">Sant Andreu de Llavaneres</option>
        <option value="Sant Andreu de la Barca">Sant Andreu de la Barca</option>
        <option value="Sant Antoni de Vilamajor">Sant Antoni de Vilamajor</option>
        <option value="Sant Bartomeu del Grau">Sant Bartomeu del Grau</option>
        <option value="Sant Boi de Llobregat">Sant Boi de Llobregat</option>
        <option value="Sant Boi de Lluçanès">Sant Boi de Lluçanès</option>
        <option value="Sant Celoni">Sant Celoni</option>
        <option value="Sant Climent de Llobregat">Sant Climent de Llobregat</option>
        <option value="Sant Cugat Sesgarrigues">Sant Cugat Sesgarrigues</option>
        <option value="Sant Cugat del Vallès">Sant Cugat del Vallès</option>
        <option value="Sant Esteve Sesrovires">Sant Esteve Sesrovires</option>
        <option value="Sant Esteve de Palautordera">Sant Esteve de Palautordera</option>
        <option value="Sant Feliu de Codines">Sant Feliu de Codines</option>
        <option value="Sant Feliu de Llobregat">Sant Feliu de Llobregat</option>
        <option value="Sant Fost de Campsentelles">Sant Fost de Campsentelles</option>
        <option value="Sant Fruitós de Bages">Sant Fruitós de Bages</option>
        <option value="Sant Hipòlit de Voltregà">Sant Hipòlit de Voltregà</option>
        <option value="Sant Iscle de Vallalta">Sant Iscle de Vallalta</option>
        <option value="Sant Joan Despí">Sant Joan Despí</option>
        <option value="Sant Joan de les Abadesses">Sant Joan de les Abadesses</option>
        <option value="Sant Joan les Fonts">Sant Joan les Fonts</option>
        <option value="Sant Julià de Vilatorta">Sant Julià de Vilatorta</option>
        <option value="Sant Just Desvern">Sant Just Desvern</option>
        <option value="Sant Llorenç de Morunys">Sant Llorenç de Morunys</option>
        <option value="Sant Martí Sarroca">Sant Martí Sarroca</option>
        <option value="Sant Martí Sesgueioles">Sant Martí Sesgueioles</option>
        <option value="Sant Pere de Ribes">Sant Pere de Ribes</option>
        <option value="Sant Pere de Riudebitlles">Sant Pere de Riudebitlles</option>
        <option value="Sant Pere de Torelló">Sant Pere de Torelló</option>
        <option value="Sant Pere de Vilamajor">Sant Pere de Vilamajor</option>
        <option value="Sant Pol de Mar">Sant Pol de Mar</option>
        <option value="Sant Quintí de Mediona">Sant Quintí de Mediona</option>
        <option value="Sant Quirze Safaja">Sant Quirze Safaja</option>
        <option value="Sant Quirze del Vallès">Sant Quirze del Vallès</option>
        <option value="Sant Sadurní d'Anoia">Sant Sadurní d'Anoia</option>
        <option value="Sant Sadurní d'Osormort">Sant Sadurní d'Osormort</option>
        <option value="Sant Vicenç de Montalt">Sant Vicenç de Montalt</option>
        <option value="Sant Vicenç de Torelló">Sant Vicenç de Torelló</option>
        <option value="Sant Vicenç dels Horts">Sant Vicenç dels Horts</option>
        <option value="Santa Coloma de Cervelló">Santa Coloma de Cervelló</option>
        <option value="Santa Coloma de Gramenet">Santa Coloma de Gramenet</option>
        <option value="Santa Coloma de Queralt">Santa Coloma de Queralt</option>
        <option value="Santa Cristina d'Aro">Santa Cristina d'Aro</option>
        <option value="Santa Eugènia de Berga">Santa Eugènia de Berga</option>
        <option value="Santa Eulàlia de Ronçana">Santa Eulàlia de Ronçana</option>
        <option value="Santa Maria de Besora">Santa Maria de Besora</option>
        <option value="Santa Maria de Palautordera">Santa Maria de Palautordera</option>
        <option value="Santa Perpètua de Mogoda">Santa Perpètua de Mogoda</option>
        <option value="Santa Susanna">Santa Susanna</option>
        <option value="Santpedor">Santpedor</option>
        <option value="Sentiu de Sió, la">Sentiu de Sió, la</option>
        <option value="Seu d'Urgell, la">Seu d'Urgell, la</option>
        <option value="Seva">Seva</option>
        <option value="Sidamon">Sidamon</option>
        <option value="Sitges">Sitges</option>
        <option value="Siurana">Siurana</option>
        <option value="Sobremunt">Sobremunt</option>
        <option value="Solsona">Solsona</option>
        <option value="Sora">Sora</option>
        <option value="Sort">Sort</option>
        <option value="Subirats">Subirats</option>
        <option value="Sudanell">Sudanell</option>
        <option value="Súria">Súria</option>
        <option value="Talavera">Talavera</option>
        <option value="Tallada d'Empordà, la">Tallada d'Empordà, la</option>
        <option value="Taradell">Taradell</option>
        <option value="Tarragona">Tarragona</option>
        <option value="Tavèrnoles">Tavèrnoles</option>
        <option value="Teià">Teià</option>
        <option value="Terrassa">Terrassa</option>
        <option value="Tiana">Tiana</option>
        <option value="Tivissa">Tivissa</option>
        <option value="Tona">Tona</option>
        <option value="Tordera">Tordera</option>
        <option value="Torelló">Torelló</option>
        <option value="Torrefarrera">Torrefarrera</option>
        <option value="Torrelles de Llobregat">Torrelles de Llobregat</option>
        <option value="Torres de Segre">Torres de Segre</option>
        <option value="Torroella de Montgrí">Torroella de Montgrí</option>
        <option value="Tortosa">Tortosa</option>
        <option value="Tossa de Mar">Tossa de Mar</option>
        <option value="Tremp">Tremp</option>
        <option value="Tàrrega">Tàrrega</option>
        <option value="Ulldecona">Ulldecona</option>
        <option value="Vall d'en Bas, la">Vall d'en Bas, la</option>
        <option value="Vallfogona de Balaguer">Vallfogona de Balaguer</option>
        <option value="Vallgorguina">Vallgorguina</option>
        <option value="Vallirana">Vallirana</option>
        <option value="Vallromanes">Vallromanes</option>
        <option value="Valls">Valls</option>
        <option value="Vandellòs i l'Hospitalet de l'Infant">Vandellòs i l'Hospitalet de l'Infant</option>
        <option value="Vendrell, el">Vendrell, el</option>
        <option value="Vic">Vic</option>
        <option value="Vielha e Mijaran">Vielha e Mijaran</option>
        <option value="Vila-seca">Vila-seca</option>
        <option value="Vilablareix">Vilablareix</option>
        <option value="Viladecans">Viladecans</option>
        <option value="Viladrau">Viladrau</option>
        <option value="Vilafranca del Penedès">Vilafranca del Penedès</option>
        <option value="Vilamalla">Vilamalla</option>
        <option value="Vilanova de Sau">Vilanova de Sau</option>
        <option value="Vilanova i la Geltrú">Vilanova i la Geltrú</option>
        <option value="Vilassar de Dalt">Vilassar de Dalt</option>
        <option value="Vilassar de Mar">Vilassar de Mar</option>
        <option value="Vimbodí i Poblet">Vimbodí i Poblet</option>
        <option value="Vinyols i els Arcs">Vinyols i els Arcs</option>
        <option value="Òdena">Òdena</option>
      </select>
      que de
      <select name="mun2">
        <option value="Agramunt">Agramunt</option>
        <option value="Aiguafreda">Aiguafreda</option>
        <option value="Aitona">Aitona</option>
        <option value="Albinyana">Albinyana</option>
        <option value="Alcanar">Alcanar</option>
        <option value="Alella">Alella</option>
        <option value="Alguaire">Alguaire</option>
        <option value="Alió">Alió</option>
        <option value="Almacelles">Almacelles</option>
        <option value="Alpicat">Alpicat</option>
        <option value="Altafulla">Altafulla</option>
        <option value="Ametlla del Vallès, l'">Ametlla del Vallès, l'</option>
        <option value="Amposta">Amposta</option>
        <option value="Anglès">Anglès</option>
        <option value="Arbeca">Arbeca</option>
        <option value="Arbúcies">Arbúcies</option>
        <option value="Arenys de Mar">Arenys de Mar</option>
        <option value="Arenys de Munt">Arenys de Munt</option>
        <option value="Argentona">Argentona</option>
        <option value="Argençola">Argençola</option>
        <option value="Artesa de Segre">Artesa de Segre</option>
        <option value="Ascó">Ascó</option>
        <option value="Avinyonet de Puigventós">Avinyonet de Puigventós</option>
        <option value="Avinyonet del Penedès">Avinyonet del Penedès</option>
        <option value="Badalona">Badalona</option>
        <option value="Balaguer">Balaguer</option>
        <option value="Banyoles">Banyoles</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Begues">Begues</option>
        <option value="Benissanet">Benissanet</option>
        <option value="Berga">Berga</option>
        <option value="Bigues i Riells">Bigues i Riells</option>
        <option value="Bisbal d'Empordà, la">Bisbal d'Empordà, la</option>
        <option value="Blanes">Blanes</option>
        <option value="Borges Blanques, les">Borges Blanques, les</option>
        <option value="Borges del Camp, les">Borges del Camp, les</option>
        <option value="Breda">Breda</option>
        <option value="Brull, el">Brull, el</option>
        <option value="Cabrera de Mar">Cabrera de Mar</option>
        <option value="Cabrils">Cabrils</option>
        <option value="Calafell">Calafell</option>
        <option value="Caldes de Montbui">Caldes de Montbui</option>
        <option value="Calella">Calella</option>
        <option value="Calldetenes">Calldetenes</option>
        <option value="Cambrils">Cambrils</option>
        <option value="Campdevànol">Campdevànol</option>
        <option value="Campelles">Campelles</option>
        <option value="Campins">Campins</option>
        <option value="Camós">Camós</option>
        <option value="Canet de Mar">Canet de Mar</option>
        <option value="Canovelles">Canovelles</option>
        <option value="Canyelles">Canyelles</option>
        <option value="Cardedeu">Cardedeu</option>
        <option value="Cardona">Cardona</option>
        <option value="Cassà de la Selva">Cassà de la Selva</option>
        <option value="Castellar del Vallès">Castellar del Vallès</option>
        <option value="Castellbisbal">Castellbisbal</option>
        <option value="Castellcir">Castellcir</option>
        <option value="Castelldefels">Castelldefels</option>
        <option value="Castellet i la Gornal">Castellet i la Gornal</option>
        <option value="Castellnou de Bages">Castellnou de Bages</option>
        <option value="Castellserà">Castellserà</option>
        <option value="Castellterçol">Castellterçol</option>
        <option value="Castellvell del Camp">Castellvell del Camp</option>
        <option value="Castellví de Rosanes">Castellví de Rosanes</option>
        <option value="Castellví de la Marca">Castellví de la Marca</option>
        <option value="Centelles">Centelles</option>
        <option value="Cerdanyola del Vallès">Cerdanyola del Vallès</option>
        <option value="Cervelló">Cervelló</option>
        <option value="Cervera">Cervera</option>
        <option value="Collbató">Collbató</option>
        <option value="Conca de Dalt">Conca de Dalt</option>
        <option value="Corbera de Llobregat">Corbera de Llobregat</option>
        <option value="Cornellà de Llobregat">Cornellà de Llobregat</option>
        <option value="Cruïlles, Monells i Sant Sadurní de l'Heura">Cruïlles, Monells i Sant Sadurní de l'Heura</option>
        <option value="Cunit">Cunit</option>
        <option value="Cànoves i Samalús">Cànoves i Samalús</option>
        <option value="Deltebre">Deltebre</option>
        <option value="Escala, l'">Escala, l'</option>
        <option value="Esplugues de Llobregat">Esplugues de Llobregat</option>
        <option value="Estaràs">Estaràs</option>
        <option value="Far d'Empordà, el">Far d'Empordà, el</option>
        <option value="Fatarella, la">Fatarella, la</option>
        <option value="Figueres">Figueres</option>
        <option value="Flix">Flix</option>
        <option value="Fogars de Montclús">Fogars de Montclús</option>
        <option value="Folgueroles">Folgueroles</option>
        <option value="Fontanilles">Fontanilles</option>
        <option value="Forallac">Forallac</option>
        <option value="Fornells de la Selva">Fornells de la Selva</option>
        <option value="Fortià">Fortià</option>
        <option value="Franqueses del Vallès, les">Franqueses del Vallès, les</option>
        <option value="Garriga, la">Garriga, la</option>
        <option value="Gavà">Gavà</option>
        <option value="Gelida">Gelida</option>
        <option value="Girona">Girona</option>
        <option value="Gironella">Gironella</option>
        <option value="Golmés">Golmés</option>
        <option value="Granera">Granera</option>
        <option value="Granollers">Granollers</option>
        <option value="Gualta">Gualta</option>
        <option value="Guissona">Guissona</option>
        <option value="Guixers">Guixers</option>
        <option value="Gurb">Gurb</option>
        <option value="Gósol">Gósol</option>
        <option value="Horta de Sant Joan">Horta de Sant Joan</option>
        <option value="Hospitalet de Llobregat, l'">Hospitalet de Llobregat, l'</option>
        <option value="Igualada">Igualada</option>
        <option value="Linyola">Linyola</option>
        <option value="Lleida">Lleida</option>
        <option value="Llinars del Vallès">Llinars del Vallès</option>
        <option value="Lliçà d'Amunt">Lliçà d'Amunt</option>
        <option value="Lliçà de Vall">Lliçà de Vall</option>
        <option value="Lloret de Mar">Lloret de Mar</option>
        <option value="Lluçà">Lluçà</option>
        <option value="Llívia">Llívia</option>
        <option value="Malgrat de Mar">Malgrat de Mar</option>
        <option value="Malla">Malla</option>
        <option value="Manlleu">Manlleu</option>
        <option value="Manresa">Manresa</option>
        <option value="Martorelles">Martorelles</option>
        <option value="Masdenverge">Masdenverge</option>
        <option value="Masnou, el">Masnou, el</option>
        <option value="Matadepera">Matadepera</option>
        <option value="Mataró">Mataró</option>
        <option value="Maçanet de la Selva">Maçanet de la Selva</option>
        <option value="Miravet">Miravet</option>
        <option value="Moià">Moià</option>
        <option value="Molins de Rei">Molins de Rei</option>
        <option value="Mollet del Vallès">Mollet del Vallès</option>
        <option value="Mont-roig del Camp">Mont-roig del Camp</option>
        <option value="Montblanc">Montblanc</option>
        <option value="Montbrió del Camp">Montbrió del Camp</option>
        <option value="Montcada i Reixac">Montcada i Reixac</option>
        <option value="Montesquiu">Montesquiu</option>
        <option value="Montgat">Montgat</option>
        <option value="Montmaneu">Montmaneu</option>
        <option value="Montseny">Montseny</option>
        <option value="Móra d'Ebre">Móra d'Ebre</option>
        <option value="Navata">Navata</option>
        <option value="Navès">Navès</option>
        <option value="Odèn">Odèn</option>
        <option value="Olesa de Montserrat">Olesa de Montserrat</option>
        <option value="Oliana">Oliana</option>
        <option value="Olius">Olius</option>
        <option value="Olivella">Olivella</option>
        <option value="Olost">Olost</option>
        <option value="Olot">Olot</option>
        <option value="Oluges, les">Oluges, les</option>
        <option value="Ordis">Ordis</option>
        <option value="Pacs del Penedès">Pacs del Penedès</option>
        <option value="Palafrugell">Palafrugell</option>
        <option value="Palamós">Palamós</option>
        <option value="Palau-solità i Plegamans">Palau-solità i Plegamans</option>
        <option value="Pallejà">Pallejà</option>
        <option value="Palma de Cervelló, la">Palma de Cervelló, la</option>
        <option value="Papiol, el">Papiol, el</option>
        <option value="Pardines">Pardines</option>
        <option value="Parets del Vallès">Parets del Vallès</option>
        <option value="Pau">Pau</option>
        <option value="Penelles">Penelles</option>
        <option value="Perafita">Perafita</option>
        <option value="Peramola">Peramola</option>
        <option value="Piera">Piera</option>
        <option value="Pineda de Mar">Pineda de Mar</option>
        <option value="Pinell de Solsonès">Pinell de Solsonès</option>
        <option value="Pobla de Segur, la">Pobla de Segur, la</option>
        <option value="Pont de Suert, el">Pont de Suert, el</option>
        <option value="Ponts">Ponts</option>
        <option value="Porqueres">Porqueres</option>
        <option value="Prat de Llobregat, el">Prat de Llobregat, el</option>
        <option value="Premià de Dalt">Premià de Dalt</option>
        <option value="Premià de Mar">Premià de Mar</option>
        <option value="Puigcerdà">Puigcerdà</option>
        <option value="Pujalt">Pujalt</option>
        <option value="Quart">Quart</option>
        <option value="Queralbs">Queralbs</option>
        <option value="Reus">Reus</option>
        <option value="Ribes de Freser">Ribes de Freser</option>
        <option value="Ripoll">Ripoll</option>
        <option value="Ripollet">Ripollet</option>
        <option value="Riudoms">Riudoms</option>
        <option value="Riumors">Riumors</option>
        <option value="Roca del Vallès, la">Roca del Vallès, la</option>
        <option value="Roses">Roses</option>
        <option value="Rosselló">Rosselló</option>
        <option value="Rubí">Rubí</option>
        <option value="Sabadell">Sabadell</option>
        <option value="Sallent">Sallent</option>
        <option value="Salou">Salou</option>
        <option value="Sant Adrià de Besòs">Sant Adrià de Besòs</option>
        <option value="Sant Agustí de Lluçanès">Sant Agustí de Lluçanès</option>
        <option value="Sant Andreu de Llavaneres">Sant Andreu de Llavaneres</option>
        <option value="Sant Andreu de la Barca">Sant Andreu de la Barca</option>
        <option value="Sant Antoni de Vilamajor">Sant Antoni de Vilamajor</option>
        <option value="Sant Bartomeu del Grau">Sant Bartomeu del Grau</option>
        <option value="Sant Boi de Llobregat">Sant Boi de Llobregat</option>
        <option value="Sant Boi de Lluçanès">Sant Boi de Lluçanès</option>
        <option value="Sant Celoni">Sant Celoni</option>
        <option value="Sant Climent de Llobregat">Sant Climent de Llobregat</option>
        <option value="Sant Cugat Sesgarrigues">Sant Cugat Sesgarrigues</option>
        <option value="Sant Cugat del Vallès">Sant Cugat del Vallès</option>
        <option value="Sant Esteve Sesrovires">Sant Esteve Sesrovires</option>
        <option value="Sant Esteve de Palautordera">Sant Esteve de Palautordera</option>
        <option value="Sant Feliu de Codines">Sant Feliu de Codines</option>
        <option value="Sant Feliu de Llobregat">Sant Feliu de Llobregat</option>
        <option value="Sant Fost de Campsentelles">Sant Fost de Campsentelles</option>
        <option value="Sant Fruitós de Bages">Sant Fruitós de Bages</option>
        <option value="Sant Hipòlit de Voltregà">Sant Hipòlit de Voltregà</option>
        <option value="Sant Iscle de Vallalta">Sant Iscle de Vallalta</option>
        <option value="Sant Joan Despí">Sant Joan Despí</option>
        <option value="Sant Joan de les Abadesses">Sant Joan de les Abadesses</option>
        <option value="Sant Joan les Fonts">Sant Joan les Fonts</option>
        <option value="Sant Julià de Vilatorta">Sant Julià de Vilatorta</option>
        <option value="Sant Just Desvern">Sant Just Desvern</option>
        <option value="Sant Llorenç de Morunys">Sant Llorenç de Morunys</option>
        <option value="Sant Martí Sarroca">Sant Martí Sarroca</option>
        <option value="Sant Martí Sesgueioles">Sant Martí Sesgueioles</option>
        <option value="Sant Pere de Ribes">Sant Pere de Ribes</option>
        <option value="Sant Pere de Riudebitlles">Sant Pere de Riudebitlles</option>
        <option value="Sant Pere de Torelló">Sant Pere de Torelló</option>
        <option value="Sant Pere de Vilamajor">Sant Pere de Vilamajor</option>
        <option value="Sant Pol de Mar">Sant Pol de Mar</option>
        <option value="Sant Quintí de Mediona">Sant Quintí de Mediona</option>
        <option value="Sant Quirze Safaja">Sant Quirze Safaja</option>
        <option value="Sant Quirze del Vallès">Sant Quirze del Vallès</option>
        <option value="Sant Sadurní d'Anoia">Sant Sadurní d'Anoia</option>
        <option value="Sant Sadurní d'Osormort">Sant Sadurní d'Osormort</option>
        <option value="Sant Vicenç de Montalt">Sant Vicenç de Montalt</option>
        <option value="Sant Vicenç de Torelló">Sant Vicenç de Torelló</option>
        <option value="Sant Vicenç dels Horts">Sant Vicenç dels Horts</option>
        <option value="Santa Coloma de Cervelló">Santa Coloma de Cervelló</option>
        <option value="Santa Coloma de Gramenet">Santa Coloma de Gramenet</option>
        <option value="Santa Coloma de Queralt">Santa Coloma de Queralt</option>
        <option value="Santa Cristina d'Aro">Santa Cristina d'Aro</option>
        <option value="Santa Eugènia de Berga">Santa Eugènia de Berga</option>
        <option value="Santa Eulàlia de Ronçana">Santa Eulàlia de Ronçana</option>
        <option value="Santa Maria de Besora">Santa Maria de Besora</option>
        <option value="Santa Maria de Palautordera">Santa Maria de Palautordera</option>
        <option value="Santa Perpètua de Mogoda">Santa Perpètua de Mogoda</option>
        <option value="Santa Susanna">Santa Susanna</option>
        <option value="Santpedor">Santpedor</option>
        <option value="Sentiu de Sió, la">Sentiu de Sió, la</option>
        <option value="Seu d'Urgell, la">Seu d'Urgell, la</option>
        <option value="Seva">Seva</option>
        <option value="Sidamon">Sidamon</option>
        <option value="Sitges">Sitges</option>
        <option value="Siurana">Siurana</option>
        <option value="Sobremunt">Sobremunt</option>
        <option value="Solsona">Solsona</option>
        <option value="Sora">Sora</option>
        <option value="Sort">Sort</option>
        <option value="Subirats">Subirats</option>
        <option value="Sudanell">Sudanell</option>
        <option value="Súria">Súria</option>
        <option value="Talavera">Talavera</option>
        <option value="Tallada d'Empordà, la">Tallada d'Empordà, la</option>
        <option value="Taradell">Taradell</option>
        <option value="Tarragona">Tarragona</option>
        <option value="Tavèrnoles">Tavèrnoles</option>
        <option value="Teià">Teià</option>
        <option value="Terrassa">Terrassa</option>
        <option value="Tiana">Tiana</option>
        <option value="Tivissa">Tivissa</option>
        <option value="Tona">Tona</option>
        <option value="Tordera">Tordera</option>
        <option value="Torelló">Torelló</option>
        <option value="Torrefarrera">Torrefarrera</option>
        <option value="Torrelles de Llobregat">Torrelles de Llobregat</option>
        <option value="Torres de Segre">Torres de Segre</option>
        <option value="Torroella de Montgrí">Torroella de Montgrí</option>
        <option value="Tortosa">Tortosa</option>
        <option value="Tossa de Mar">Tossa de Mar</option>
        <option value="Tremp">Tremp</option>
        <option value="Tàrrega">Tàrrega</option>
        <option value="Ulldecona">Ulldecona</option>
        <option value="Vall d'en Bas, la">Vall d'en Bas, la</option>
        <option value="Vallfogona de Balaguer">Vallfogona de Balaguer</option>
        <option value="Vallgorguina">Vallgorguina</option>
        <option value="Vallirana">Vallirana</option>
        <option value="Vallromanes">Vallromanes</option>
        <option value="Valls">Valls</option>
        <option value="Vandellòs i l'Hospitalet de l'Infant">Vandellòs i l'Hospitalet de l'Infant</option>
        <option value="Vendrell, el">Vendrell, el</option>
        <option value="Vic">Vic</option>
        <option value="Vielha e Mijaran">Vielha e Mijaran</option>
        <option value="Vila-seca">Vila-seca</option>
        <option value="Vilablareix">Vilablareix</option>
        <option value="Viladecans">Viladecans</option>
        <option value="Viladrau">Viladrau</option>
        <option value="Vilafranca del Penedès">Vilafranca del Penedès</option>
        <option value="Vilamalla">Vilamalla</option>
        <option value="Vilanova de Sau">Vilanova de Sau</option>
        <option value="Vilanova i la Geltrú">Vilanova i la Geltrú</option>
        <option value="Vilassar de Dalt">Vilassar de Dalt</option>
        <option value="Vilassar de Mar">Vilassar de Mar</option>
        <option value="Vimbodí i Poblet">Vimbodí i Poblet</option>
        <option value="Vinyols i els Arcs">Vinyols i els Arcs</option>
        <option value="Òdena">Òdena</option>
      </select>
      <br>
      <br>
        <button type="submit" value="Enviar"><img src="static/enviar.png" border=0></button>

          </form>


        </p>
      </center>

          <p>
            <form action="/esc">
              <button type="submit" style="float:left; margin-left:20px ;margin-top:260px;"><img src="static/sortir.png" border=0></button>
            </form>
          </p>

      </body>
      </html>
