<!DOCTYPE html>
<html>
<title>Pregunta 8</title>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='lletra.css')}}"/>
<head>


<BR LEFT>
<IMG SRC="static/minilogo.png" style="position: absolute; top: 0; left: 0;" />
  <center>
  <br>
  <br>
<h1>PREGUNTA 8</h1>
</center>
</head>

<body>
<center>



</center>

<center>
  <p>
    <form action="/pe8" method="post" style="margin-left:50px;margin-right:40px;">
      Si suspens
      <select name="assignatura1">
        <option value="Càlcul I">Càlcul I</option>
        <option value="Fonaments Informàtica">Fonaments Informàtica</option>
        <option value="Mecànica Fonamental">Mecànica Fonamental</option>
        <option value="Química I">Química I</option>
        <option value="Àlgebra Lineal">Àlgebra Lineal</option>
        <option value="Càlcul II">Càlcul II</option>
        <option value="Expressió Gràfica">Expressió Gràfica</option>
        <option value="Geometria">Geometria</option>
        <option value="Química II">Química II</option>
        <option value="Termodinàmica Fonamental">Termodinàmica Fonamental</option>
        <option value="Electromagnetisme">Electromagnetisme</option>
        <option value="Equacions Diferencials">Equacions Diferencials</option>
        <option value="Informàtica">Informàtica</option>
        <option value="Materials">Materials</option>
        <option value="Mecànica">Mecànica</option>
        <option value="Mètodes Numèrics">Mètodes Numèrics</option>
        <option value="Dinàmica de Sistemes">Dinàmica de Sistemes</option>
        <option value="Economia i Empresa">Economia i Empresa</option>
        <option value="Estadística">Estadística</option>
        <option value="PROJECTE I">PROJECTE I</option>
        <option value="Teoria de Màquines i Mecanismes">Teoria de Màquines i Mecanismes</option>
        <option value="Electrotècnia">Electrotècnia</option>
        <option value="Tecnologia del Medi Ambient i Sostenibilitat">Tecnologia del Medi Ambient i Sostenibilitat</option>
        <option value="Tecnologia i Selecció de Materials">Tecnologia i Selecció de Materials</option>
        <option value="Termodinàmica">Termodinàmica</option>
        <option value="Tècniques Estadístiques per la Qualitat">Tècniques Estadístiques per la Qualitat</option>
        <option value="Mecànica de Fluids">Mecànica de Fluids</option>
        <option value="Màquines Elèctriques">Màquines Elèctriques</option>
        <option value="Simulació i Optimització">Simulació i Optimització</option>
        <option value="Organització i Gestió">Organització i Gestió</option>
        <option value="PROJECTE II">PROJECTE II</option>
        <option value="Resistència de Materials">Resistència de Materials</option>
        <option value="Control Automàtic">Control Automàtic</option>
        <option value="Electrònica">Electrònica</option>
        <option value="Gestió de Projectes">Gestió de Projectes</option>
        <option value="Sistemes de Fabricació">Sistemes de Fabricació</option>
        <option value="Termotècnia">Termotècnia</option>
      </select>
      tens més probabilitat de suspendre
      <select name="assignatura2">
        <option value="Càlcul I">Càlcul I</option>
        <option value="Fonaments Informàtica">Fonaments Informàtica</option>
        <option value="Mecànica Fonamental">Mecànica Fonamental</option>
        <option value="Química I">Química I</option>
        <option value="Àlgebra Lineal">Àlgebra Lineal</option>
        <option value="Càlcul II">Càlcul II</option>
        <option value="Expressió Gràfica">Expressió Gràfica</option>
        <option value="Geometria">Geometria</option>
        <option value="Química II">Química II</option>
        <option value="Termodinàmica Fonamental">Termodinàmica Fonamental</option>
        <option value="Electromagnetisme">Electromagnetisme</option>
        <option value="Equacions Diferencials">Equacions Diferencials</option>
        <option value="Informàtica">Informàtica</option>
        <option value="Materials">Materials</option>
        <option value="Mecànica">Mecànica</option>
        <option value="Mètodes Numèrics">Mètodes Numèrics</option>
        <option value="Dinàmica de Sistemes">Dinàmica de Sistemes</option>
        <option value="Economia i Empresa">Economia i Empresa</option>
        <option value="Estadística">Estadística</option>
        <option value="PROJECTE I">PROJECTE I</option>
        <option value="Teoria de Màquines i Mecanismes">Teoria de Màquines i Mecanismes</option>
        <option value="Electrotècnia">Electrotècnia</option>
        <option value="Tecnologia del Medi Ambient i Sostenibilitat">Tecnologia del Medi Ambient i Sostenibilitat</option>
        <option value="Tecnologia i Selecció de Materials">Tecnologia i Selecció de Materials</option>
        <option value="Termodinàmica">Termodinàmica</option>
        <option value="Tècniques Estadístiques per la Qualitat">Tècniques Estadístiques per la Qualitat</option>
        <option value="Mecànica de Fluids">Mecànica de Fluids</option>
        <option value="Màquines Elèctriques">Màquines Elèctriques</option>
        <option value="Simulació i Optimització">Simulació i Optimització</option>
        <option value="Organització i Gestió">Organització i Gestió</option>
        <option value="PROJECTE II">PROJECTE II</option>
        <option value="Resistència de Materials">Resistència de Materials</option>
        <option value="Control Automàtic">Control Automàtic</option>
        <option value="Electrònica">Electrònica</option>
        <option value="Gestió de Projectes">Gestió de Projectes</option>
        <option value="Sistemes de Fabricació">Sistemes de Fabricació</option>
        <option value="Termotècnia">Termotècnia</option>
      </select>
      que
      <select name="assignatura3">
        <option value="Càlcul I">Càlcul I</option>
        <option value="Fonaments Informàtica">Fonaments Informàtica</option>
        <option value="Mecànica Fonamental">Mecànica Fonamental</option>
        <option value="Química I">Química I</option>
        <option value="Àlgebra Lineal">Àlgebra Lineal</option>
        <option value="Càlcul II">Càlcul II</option>
        <option value="Expressió Gràfica">Expressió Gràfica</option>
        <option value="Geometria">Geometria</option>
        <option value="Química II">Química II</option>
        <option value="Termodinàmica Fonamental">Termodinàmica Fonamental</option>
        <option value="Electromagnetisme">Electromagnetisme</option>
        <option value="Equacions Diferencials">Equacions Diferencials</option>
        <option value="Informàtica">Informàtica</option>
        <option value="Materials">Materials</option>
        <option value="Mecànica">Mecànica</option>
        <option value="Mètodes Numèrics">Mètodes Numèrics</option>
        <option value="Dinàmica de Sistemes">Dinàmica de Sistemes</option>
        <option value="Economia i Empresa">Economia i Empresa</option>
        <option value="Estadística">Estadística</option>
        <option value="PROJECTE I">PROJECTE I</option>
        <option value="Teoria de Màquines i Mecanismes">Teoria de Màquines i Mecanismes</option>
        <option value="Electrotècnia">Electrotècnia</option>
        <option value="Tecnologia del Medi Ambient i Sostenibilitat">Tecnologia del Medi Ambient i Sostenibilitat</option>
        <option value="Tecnologia i Selecció de Materials">Tecnologia i Selecció de Materials</option>
        <option value="Termodinàmica">Termodinàmica</option>
        <option value="Tècniques Estadístiques per la Qualitat">Tècniques Estadístiques per la Qualitat</option>
        <option value="Mecànica de Fluids">Mecànica de Fluids</option>
        <option value="Màquines Elèctriques">Màquines Elèctriques</option>
        <option value="Simulació i Optimització">Simulació i Optimització</option>
        <option value="Organització i Gestió">Organització i Gestió</option>
        <option value="PROJECTE II">PROJECTE II</option>
        <option value="Resistència de Materials">Resistència de Materials</option>
        <option value="Control Automàtic">Control Automàtic</option>
        <option value="Electrònica">Electrònica</option>
        <option value="Gestió de Projectes">Gestió de Projectes</option>
        <option value="Sistemes de Fabricació">Sistemes de Fabricació</option>
        <option value="Termotècnia">Termotècnia</option>
      </select>
      <br>
      <br>
      <button type="submit" value="Enviar"><img src="static/enviar.png" border=0></button>
      </form>
    </p>
  </center>

  <p>
    <form action="/esc">
      <button type="submit" style="float:left; margin-left:20px ;margin-top:260px;"><img src="static/sortir.png" border=0></button>
    </form>
  </p>

</body>
</html>
