<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='lletra.css')}}"/>
<title>????</title>
<head>


<BR LEFT>
<IMG SRC="static/minilogo.png" style="position: absolute; top: 0; left: 0;" />
  <center>
  <br>

<h1> REALLY? </h1>
<IMG SRC="static/emoji.png"/>
</center>
</head>
<br>
<body>
            <form action={{botonet}}>
            <button type="submit" style="float:left; margin-left:20px"><img src="static/tornar.png" border=0></button>
            </form>
          </body>
