<html>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='lletra.css')}}"/>
<title>Resposta 1</title>
<head>
<meta charset="utf-8" >
<BR LEFT>
<IMG SRC="static/minilogo.png" style="position: absolute; top: 0; left: 0;" />
</script>
</head>
<body>
<center>
<br>
<br>
<h1 style='color:{{f}}'>{{s}}</h1>
<resp> En l'interval {{in1}} hi ha {{dades1}} notes, mentre que en l'interval {{in2}} hi ha  {{dades2}} notes</resp>
<br>
<br>
</center>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<div id="container" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

<br>
<script>
Highcharts.chart('container', {
    chart: {
        type: 'pie'
    },
    title: {
        text: 'Percentatge de notes segons interval'
    },
    plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                format: '{point.name}: {point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },
    series: [{
        name: 'Intervals',
        colorByPoint: true,
        data: [{
            name: '{{in1}}',
            y: {{perc1}},
        }, {
            name: '{{in2}}',
            y: {{perc2}},
        }, {
            name: 'Altres',
            y: {{altres}},
        }]
    }],
});
    </script>



<p>
<form action={{boton}}>
<button type="submit" style="float:left; margin-left:20px;"><img src="static/sortir.png" border=0></button>
</form>
<form action={{boton2}}>
<button type="submit" style="float:right; margin-right:20px;"><img src="static/seguent.png" border=0></button>
</form>
</p>
</body>
</html>
