<!DOCTYPE html>
<html>
<title>Resposta 11</title>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='lletra.css')}}"/>
<head>


<BR LEFT>
<IMG SRC="static/minilogo.png" style="position: absolute; top: 0; left: 0;" />
</script>
</head>

<body>
<center>
<br>
<br>
<h1 style='color:{{f}}'>{{s}}</h1>

<p> Hi ha {{n1}} persones de "{{mun1}}" i {{n2}} de "{{mun2}}"</p>
</center>
<p>
<form action={{boton}}>
<button type="submit" style="float:left; margin-left:20px ;margin-top:300px;"><img src="static/sortir.png" border=0></button>
</form>
<form action={{boton2}}>
<button type="submit" style="float:right; margin-right:20px;margin-top:300px;"><img src="static/seguent.png" border=0></button>
</form>
</p>
</body>
</html>
