<html>
<title>Resposta 12</title>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='lletra.css')}}"/>

<head>
<meta charset="utf-8" >
<BR LEFT>
<IMG SRC="static/minilogo.png" style="position: absolute; top: 0; left: 0;" />
</head>

<body>
<center>
<br>
<br>
<h1 style='color:{{f}}'>{{s}}</h1>
<resp>Els alumnes de {{in1}} aproven un {{v1}}% i els de {{in2}} un {{v2}}%</resp>
</center>
  <title>Resposta 12</title>
      <script type="text/javascript"
         src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script>
      function close_window() {
          if (confirm("Close Window?")) {
            close();
          }
      }
      $(document).ready(function() {
                  //aqui el código
          $('#container').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: ''
          },
          xAxis: {
              categories: {{ assig|safe }}
          },
          yAxis: {
              title: {
                  text: 'Quantitat'
              }
          },
          series:[{  {{ dataseries|safe }},
                  colorByPoint: true,
          }],
      });
  // fi ready
  });
      </script>
      <style>
        body{font: 14px sans-serif;}
        #nav
        {
      /* container */
          text-decoration:none;
          color:#FFF;
          background-color:#F60;
        }
      </style>
    </body>

    <body>

      <div id="container" style="min-width: 200px; height: 370px; margin: 25px "></div>

      <p>
      <form action={{boton}}>
      <button type="submit" style="float:left; margin-left:20px;"><img src="static/sortir.png" border=0></button>
      </form>
      <form action={{boton2}}>
      <button type="submit" style="float:right; margin-right:20px;"><img src="static/finalitza.png" border=0></button>
      </form>
      </p>
      </body>
      </html>
